@import url("https://fonts.googleapis.com/css2?family=Exile&family=Mozilla+Headline:wght@200..700&family=Playwrite+AU+QLD:wght@100..400&display=swap");
@import "tailwindcss";

@theme{
    --color-primary:#FBFBFB;
    --color-secondary:#393E46;
    --color-accent:#483AA0;
    --font-fancy:'Exile', sans-serif;
}
